h1 {
  position: relative;
  font-size: 70px;
  font-family: "Permanent Marker", cursive;
  font-weight: 550;
  display: block;
  margin: auto;
  padding: 2em 5em 2em 2em;
}

body {
  font-family: "Hind Madurai", sans-serif;
  font-size: clamp(5.5rem, 28vw, 7rem);
  background: #ffc6ac;
  color: black;
  font-size: 12px;
  margin: 0;
  height: auto;
}

h3 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: lighter;
}

.header {
  padding: 5px;
  display: flex;
  height: 400px;
}

.headshot {
  float: left;
  display: block;
  position: absolute;
  z-index: 1;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-left: 100px;
  border-radius: 30%;
}

.squiggle {
  position: relative;
  width: 600px;
  height: 400px;
  margin-right: 75px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.content {
  padding: 0px 18px;
  display: none;
  overflow: hidden;
  /* transition: max-height 0.5s ease-out; */
  background-color: #fff6dc;
}

textarea[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  color: #d9e4e0;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #c4c1a4;
  color: #111111;
}
*/ form button {
  padding: 15px;
  background: #3b7d54;
  color: black;
  font-size: 18px;
  border: 0;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 5px;
}

.collapsible {
  background-color: #c4c1a4;
  font-family: "Hind Madurai", sans-serif;
  color: #100f0f;
  cursor: pointer;
  padding: 25px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: background-color 0.5s;
}

.collapsible.active,
.collapsible:hover {
  background-color: #3b7d54;
}

.collapsible.active + .content {
  display: block;
  max-height: 0px; /* Adjust the value to control the dropdown speed */
  transition: max-height 0.5s ease-out; /* Add this line for smoother transition */
}

.slow-transition {
  max-height: 0px; /* Set initial max-height to 0 for hiding content */
  overflow: hidden; /* Hide overflow to prevent content from being visible */
  transition: max-height 0.5s ease-out; /* Adjust the duration as needed */
}

/* Optional: Add a class to the content container for slower transition */
.content.slow-transition {
  transition: max-height 0.5s ease-out; /* Adjust the duration as needed */
}
