h1 {
  position: relative;
  font-size: 5em;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  display: block;
  /* margin: auto; */
  padding: 2em 5em 2em 2em;
}

body {
  font-family: "Playfair Display", serif;
  background: #ffc6ac;
  color: black;
  font-size: 10px;
  height: auto;
}

.thank-you-container {
  text-align: center;
}

.thank-you-container h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  font-weight: lighter;
  position: relative;
  display: block;
  padding: 2em 5em 2em 2em;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  font-weight: lighter;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  font-weight: lighter;
}

p {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 1.5em;
}

.header {
  padding: 5px;
  display: flex;
  height: 400px;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
}

#grad {
  margin-bottom: 100px;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
  /* margin-right: 10px; */
}

.project2 {
  width: 100%; /* Adjust to fill the modal width */
  height: auto;
  max-height: 100%; /* Ensure the image doesn't exceed the modal height */
}

.project3 {
  width: 300px;
  max-width: 100%;
  height: auto;
}

.resume {
  width: 100%; /* Adjust to fill the modal width */
  height: auto;
  max-height: 100%; /* Ensure the image doesn't exceed the modal height */
}

.techresume {
  width: 100%; /* Adjust to fill the modal width */
  height: auto;
  max-height: 100%; /* Ensure the image doesn't exceed the modal height */
}

.headshot {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.stars {
  position: relative;
  width: 600px;
  height: 400px;
  max-width: 100%;
  z-index: 1;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Playfair Display", serif;
}

.content {
  padding: 0px 18px;
  display: block; /* Change 'none' to 'block' */
  flex-grow: 1;
  overflow: hidden;
  background-color: #fff6dc;
  max-height: 0; /* Initially hidden */
  transition: max-height 0.5s ease-out;
  border-radius: 10px;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Playfair Display", serif;
}

input[type="submit"] {
  color: #d9e4e0;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}

#container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submit {
  padding: 15px;
  background: #3b7d54;
  color: black;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 20px 0 0; /* Adjusted margin */
  border-radius: 5px;
  width: 100%;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

.collapsible {
  background-color: #c4c1a4;
  font-family: "Playfair Display", serif;
  color: #100f0f;
  cursor: pointer;
  padding: 25px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: background-color 0.5s;
  border-radius: 10px;
}

.collapsible:hover {
  color: #fff6dc;
}

.collapsible.disable-hover:hover {
  color: inherit; /* or specify the desired color */
}

.collapsible:hover:not(.disable-hover) {
  color: #fff6dc;
}

.collapsible.active + .content {
  display: block;
  max-height: 0px;
  transition: max-height 0.5s ease-out;
  border-radius: 10px;
}

.slow-transition {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.content.slow-transition {
  transition: max-height 0.5s ease-out;
}

.accordion-container {
  background-color: #c4c1a4;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* Default styles for all screen sizes */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.2em; /* Adjust the font size for smaller screens */
  }

  .img-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .headshot,
  .stars {
    display: none;
  }

  /* Adjust the width and padding for smaller screens */
  #container {
    width: 90%; /* Adjust as needed */
    max-width: 400px; /* Adjust as needed */
    margin: 0 auto;
    padding: 10px;
  }

  form input,
  form textarea {
    width: calc(100% - 24px); /* Adjust as needed */
    /* other styles */
  }
}

@media only screen and (min-width: 601px) {
  /* Larger screens */
  #container {
    width: 80%; /* Adjust this value as needed for larger screens */
    max-width: 70%; /* Adjust as needed */
    max-height: 70%; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  .thank-you-container {
    text-align: center;
  }
}

/* Fade-in once page loads/refreshes */

.logo-container,
.img-container,
.accordion-container,
.thank-you-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.logo-container.fade-in,
.img-container.fade-in,
.accordion-container.fade-in,
.thank-you-container.fade-in {
  opacity: 1;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  background-color: rgba(255, 246, 220, 0.9);
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  border: 1px solid #fff6dc;
  padding: 20px;
  border-radius: 10px;
  max-width: 80vw; /* Use viewport width */
  max-height: 80vh; /* Use viewport height */
  overflow: auto;
  z-index: 9999;
  box-sizing: border-box;
  transition: opacity 0.5s, transform 0.75s;
}

.modal.open {
  opacity: 1; /* Zoom-in effect when the modal is open */
  transform: translate(-50%, -50%) scale(1);
}

.modal::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.modal::-webkit-scrollbar-thumb {
  background-color: light rgb(224, 220, 220); /* Color of the thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

.modal::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track */
}

.modal-content {
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-btn {
  padding: 15px 15px 15px 15px;
  background: #3b7d54;
  color: black;
  font-size: 14px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 20px 0 0; /* Adjusted margin */
  border-radius: 5px;
  width: 100%;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
